body {
    background-image: url("background1.jpg");
}
h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: coral;
}

.sizes{
    background-color: #ca526c;
    padding: 40px 80px;
    padding-bottom: 200px;
    line-height: 400px; 
    margin-left: 110px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    text-decoration: none;
    font-size: 30px;

}




/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(241, 137, 137);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}