body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SnrBIe4yliufvlmcr/hd-loopable-background-with-nice-big-bokeh_b02epunjx_thumbnail-full01.png");
}

h1 {
    text-align: center;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace
}